/* Layout */
/* Common Grid Styles */
.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto auto auto auto; /* Define row heights */
    column-gap: 20px;
}

/* Define grid placement for sections */
/* Header */
header {
    grid-column: 1 / span 12;
    grid-row: 1;
    height: 64px;
    display: flex;
    gap: 40px;
    padding-left: 247px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

/* Nav */
nav {
    flex: 1;
}

/* Main */
main {
    grid-column: 1 / span 12;
    grid-row: 2;
    height: 360px;
    padding: 80px 227px 0 247px;
    margin-bottom: 140px;
}

/* Hero */
.hero > article {
    display: flex;
    gap: 200px;
}

.hero article > div {
    flex: 1;
    padding: 1% 0 1% 0;
}

.hero img {
    flex: 1;
}

/* Highlights */
.highlights {
    grid-column: 1 / span 12;
    grid-row: 3;
    padding: 0 247px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto; /* Define row heights */
    column-gap: 20px;
    margin-top: 20px;
    margin-bottom: 100px;
}

.specialsheader {
    grid-column: 1;
    grid-row: 1;
    margin-bottom: 30px;
    display: flex;
    gap: 392px;
}

.specialsheader button {
    flex: 1;
    margin-top: 30px;
}

.specials {
    grid-row: 2;
    display: flex;
    gap: 45px;
}

.specials article {
    flex: 1;
}

.specials .title {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    column-gap: 20px;
}

.specials h3 {
    grid-column: 1 / span 2;
}

.price {
    grid-column: 3;
    padding: 5px;
}

/* Testimonials */
.testimonials {
    grid-row: 4;
    grid-column: 1 / span 12;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0 226px;
}

.tcontainer {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto auto; /* Define row heights */
    column-gap: 20px;
}

.tcontainer > h1 {
    grid-column: 1 / span 8;
    text-align: center;
}

.tcontainer > div {
    grid-column: 1 / span 8;
    display: flex;
    gap: 20px;
}

.tcontainer article {
    flex: 1;
    text-align: center;
    margin-bottom: 50px;
}

.tcontainer div > article > img, .review {
    margin-top: 20px;
}

/* About */
.about {
    grid-column: 1 / span 12;
    grid-row: 5;
    padding: 0 247px;
}

.about article {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto; /* Define row heights */
    column-gap: 20px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.about div {
    grid-column: 1 / span 4;
    grid-row: 1;
}

.about .images {
    grid-column: 8;
}

.owners1 {
    position: absolute;
}

.owners2 {
    position: relative;
    top: 110px;
    right: 198px;
}

/* Footer */
footer {
    grid-column: 1 / span 12;
    grid-row: 6;
    padding: 0 247px;
    margin-top: 60px;
}

.fcontainer {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-template-rows: auto;
    column-gap: 20px;
}

.fcontainer > img {
    grid-column: 1;
    grid-row: 1;
    align-self: center;
}

.navigation {
    grid-column: 2;
    grid-row: 1;
}

.contact {
    grid-column: 3;
    grid-row: 1;
}

.social {
    grid-column: 4;
    grid-row: 1;
}

/* Grid Rules for Desktop */
@media (min-width: 1024px) {
    .container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        column-gap: 20px; /* Increase the gap between columns */
    }
}

/* Grid Rules for Tablet */
@media (max-width: 1023px) and (min-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        column-gap: 15px; /* Adjust the gap between columns */
    }
}

/* Grid Rules for Mobile */
@media (max-width: 767px) {
    .container {
        display: grid;
        grid-template-columns: repeat(12, 100px);
        grid-template-rows: auto auto auto auto auto auto; /* Define row heights */
        column-gap: 10px; /* Adjust the gap between columns */
    }

    header {
        grid-column: 1 / span 12;
        grid-row: 1;
        padding-left: 160px;
    }

    main {
        grid-column: 1 / span 12;
        grid-row: 2;
        padding: 80px 160px 0 160px;
    }

    .highlights {
        grid-column: 1 / span 12;
        grid-row: 3;
        padding: 0 160px;
    }

    .description, .order {
        margin-right: 43px;
    }

    .testimonials {
        grid-column: 1 / span 12;
        grid-row: 4;
        padding: 0 160px;
    }

    .about {
        grid-column: 1 / span 12;
        grid-row: 5;
        padding: 0 160px;
    }

    footer {
        grid-column: 1 / span 12;
        grid-row: 6;
        padding: 0 160px;
    }
}