/* Styling */
* {
    font-family: "Markazi Text", "Karla";
}

html {
    scroll-behavior: smooth;
}

/* Common Grid Styles */
.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto auto auto auto; /* Define row heights */
    column-gap: 20px;
    max-width: 100%;
}

/* Header */
header {
    grid-column: 1 / span 12;
    height: 70px;
    max-width: 100%;
    line-height: 40px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: white;
}

.logo {
    margin: 10px 0px 0px 247px;
}

/* Nav */
nav {
    float: right;
    margin-right: 247px;
}

nav li {
    display: inline-block;
    margin-left: 40px;
}

nav a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5em;
    font-family: "Karla";
    padding: 5px;
    border-radius: 5px;
}

nav a:hover {
    color: #EDEFEE;
    background-color: #495E57;
}

nav a:focus {
    color: #EDEFEE;
    background-color: #495E57;
}

.checkbtn {
    color: white;
    float: right;
    line-height: 60px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/* Main */
main {
    grid-column: 1 / span 12;
    grid-row: 2;
    height: 360px;
    padding: 100px 247px 0 247px;
    margin-bottom: 140px;
    background-color: #495E57;
}

/* Footer */
footer {
    grid-column: 1 / span 12;
    grid-row: 6;
    max-width: 100%;
    padding: 0 247px;
    font-size: 1.2em;
    border-top: 5px solid black;
}

.fcontainer {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-template-rows: auto;
    column-gap: 20px;
}

.fcontainer > img {
    grid-column: 1;
    grid-row: 1;
    align-self: center;
}

.fcontainer a {
    color: black;
    text-decoration: none;
}

.fcontainer ul {
    list-style: none;
    padding: 0;
}

.fcontainer li {
    padding: 1px;
    font-family: "Karla";
}

.fcontainer h3 {
    font-family: "Markazi Text";
}

.navigation {
    grid-column: 2;
    grid-row: 1;
}

.navigation a:hover {
    background-color: #EDEFEE;
}

.navigation a:active {
    background-color: #EDEFEE;
}

.contact {
    grid-column: 3;
    grid-row: 1;
}

.social {
    grid-column: 4;
    grid-row: 1;
}

.social ul li a {
    display: flex;
    align-items: center;
}

.social img {
    padding-bottom: 5px;
    padding-right: 5px;
}

/* Media queries for Desktop */
@media (min-width: 1024px) {
    .container {
        grid-template-columns: repeat(12, 1fr);
        column-gap: 20px;
    }
}

@media (min-width: 1024px) and (max-width: 1560px) {
    /* Header */
    .logo {
        margin: 10px 0px 0px 100px;
    }

    /* Nav */
    nav {
        margin-right: 100px;
    }

    nav li {
        margin-left: 20px;
    }

    nav a {
        font-size: 1em;
    }

    /* Main */
    main {
        padding: 100px 100px 0 100px;
    }

    /* Footer */
    footer {
        padding-left: 100px;
        padding-right: 100px;
    }
}

/* Media queries for Tablet */
@media (max-width: 1023px) and (min-width: 768px) {
    .container {
        grid-template-columns: repeat(8, 1fr);
        column-gap: 15px;
    }

    /* Header */
    header {
        grid-column: 1 / span 8;
        height: 50px;
        line-height: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .logo {
        width: 120px;
        margin: 9px 0px;
    }

     /* Main */
    main {
        grid-column: 1 / span 8;
        height: 380px;
        padding: 60px 40px 0 40px;
        margin-bottom: 70px;
    }

    /* Footer */
    footer {
        grid-column: 1 / span 8;
        padding: 0 20px 0px 40px;
        font-size: 12px;
    }

    .fcontainer {
        display: flex;
        gap: 50px;
    }

    .fcontainer > img {
        width: 50px;
        height: 90px;
    }

    .social img {
        width: 20px;
        height: 20px;
    }
}

/* Media queries for Mobile */
@media (max-width: 767px) {
    .container {
        grid-template-columns: repeat(4, 1fr);
        column-gap: 10px;
    }

    /* Header */
    header {
        grid-column: 1 / span 4;
        height: 50px;
        line-height: 30px;
        padding: 0px;
    }

    .logo {
        width: 120px;
        margin: 6px 0px;
    }

     /* Main */
    main {
        grid-column: 1 / span 4;
        height: 380px;
        padding: 60px 20px 0 20px;
        margin-bottom: 140px;
    }

    /* Footer */
    footer {
        grid-column: 1 / span 4;
        padding: 0 20px;
        font-size: 10px;
    }

    .fcontainer {
        display: flex;
        gap: 20px;
    }

    .fcontainer > img {
        width: 40px;
        height: 90px;
    }

    .navigation {
        width: 20%;
    }

    .contact {
        width: 30%;
    }

    .social img {
        width: 15px;
        height: 15px;
    }
}

/* Media queries for Mobile and Tablet Header */
@media (max-width: 1023px) {
    /* Header */
    header > a {
        margin-left: 20px;
    }

    nav {
        margin-right: 20px;
    }

    .checkbtn {
        display: block;
    }

    .checkbtn img {
        width: 20px;
        height: 20px;
    }

    nav ul {
        position: fixed;
        width: 100%;
        background: white;
        top: -100%;
        left: 0;
        text-align: center;
        padding: 0;
    }

    nav li {
      display: block;
      padding-bottom: 5px;
      margin-left: 0;
    }

    nav a {
        font-size: 16px;
    }

    #check:checked ~ ul {
        top: 30px;
    }
}
